USE [master]
GO
/****** Object:  Database [FlightManagement]    Script Date: 5/23/2026 8:06:17 PM ******/
CREATE DATABASE [FlightManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlightManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FlightManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FlightManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FlightManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlightManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlightManagement]
GO
/****** Object:  Table [dbo].[ChatKnowledge]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatKnowledge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](255) NULL,
	[Answer] [nvarchar](max) NULL,
	[isSQL] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucNang]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucNang](
	[id] [tinyint] NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenBay](
	[maCB] [int] IDENTITY(1,1) NOT NULL,
	[ngayGioDi] [datetime] NULL,
	[thoiGianBay] [int] NULL,
	[tienTrinhID] [tinyint] NOT NULL,
	[maTB] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[maGhe] [int] IDENTITY(1,1) NOT NULL,
	[tenGhe] [nvarchar](255) NULL,
	[hangGhe] [nvarchar](50) NULL,
	[maMB] [int] NULL,
	[tileGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe_ChuyenBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe_ChuyenBay](
	[maGhe] [int] NOT NULL,
	[maCB] [int] NOT NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[maGhe] ASC,
	[maCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [int] IDENTITY(1,1) NOT NULL,
	[ngayLapHD] [date] NULL,
	[soLuongVe] [int] NULL,
	[tongTien] [float] NULL,
	[phuongThucTT] [nvarchar](255) NULL,
	[maND] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiMayBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMayBay](
	[maLoaiMB] [int] IDENTITY(1,1) NOT NULL,
	[tenLoaiMB] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenLoaiMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenLoaiMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenLoaiMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MayBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MayBay](
	[maMB] [int] IDENTITY(1,1) NOT NULL,
	[tenMB] [varchar](255) NULL,
	[slGheH1] [int] NULL,
	[slGhePT] [int] NULL,
	[maLoaiMB] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[maND] [int] IDENTITY(1,1) NOT NULL,
	[hoTenND] [nvarchar](255) NULL,
	[tenDangNhap] [varchar](255) NOT NULL,
	[ChucNangId] [tinyint] NOT NULL,
	[soDT] [varchar](20) NULL,
	[matKhau] [varchar](255) NULL,
	[linkAnh] [varchar](255) NULL,
	[mail] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinh]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinh](
	[maQD] [int] IDENTITY(1,1) NOT NULL,
	[tenQD] [nvarchar](255) NULL,
	[noidungQD] [int] NULL,
	[ngayCapNhat] [date] NULL,
 CONSTRAINT [PK__QuyDinh__7A3EFC2FAFBF356D] PRIMARY KEY CLUSTERED 
(
	[maQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__QuyDinh__FB74F0034EF26DB8] UNIQUE NONCLUSTERED 
(
	[tenQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanBay](
	[maSB] [int] IDENTITY(1,1) NOT NULL,
	[tenSB] [nvarchar](255) NULL,
	[tinhThanh] [nvarchar](255) NULL,
	[quocGia] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maSB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenSB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenSB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenSB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanBayTrungGian]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanBayTrungGian](
	[maSB] [int] NOT NULL,
	[maTB] [int] NOT NULL,
	[thoiGianDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maSB] ASC,
	[maTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienTrinh]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienTrinh](
	[id] [tinyint] NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuyenBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuyenBay](
	[maTB] [int] IDENTITY(1,1) NOT NULL,
	[tenTB] [nvarchar](255) NULL,
	[sanBayDi] [int] NULL,
	[sanBayDen] [int] NULL,
	[giaTB] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeChuyenBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeChuyenBay](
	[maVe] [int] IDENTITY(1,1) NOT NULL,
	[tenHK] [nvarchar](255) NULL,
	[maHD] [int] NULL,
	[maGhe] [int] NULL,
	[maCB] [int] NULL,
	[giaVe] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChatKnowledge] ADD  DEFAULT ((0)) FOR [isSQL]
GO
ALTER TABLE [dbo].[ChuyenBay]  WITH CHECK ADD FOREIGN KEY([maTB])
REFERENCES [dbo].[TuyenBay] ([maTB])
GO
ALTER TABLE [dbo].[ChuyenBay]  WITH CHECK ADD FOREIGN KEY([maTB])
REFERENCES [dbo].[TuyenBay] ([maTB])
GO
ALTER TABLE [dbo].[ChuyenBay]  WITH CHECK ADD FOREIGN KEY([maTB])
REFERENCES [dbo].[TuyenBay] ([maTB])
GO
ALTER TABLE [dbo].[ChuyenBay]  WITH CHECK ADD  CONSTRAINT [FK_TienTrinh] FOREIGN KEY([tienTrinhID])
REFERENCES [dbo].[TienTrinh] ([id])
GO
ALTER TABLE [dbo].[ChuyenBay] CHECK CONSTRAINT [FK_TienTrinh]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD FOREIGN KEY([maMB])
REFERENCES [dbo].[MayBay] ([maMB])
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD FOREIGN KEY([maMB])
REFERENCES [dbo].[MayBay] ([maMB])
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD FOREIGN KEY([maMB])
REFERENCES [dbo].[MayBay] ([maMB])
GO
ALTER TABLE [dbo].[Ghe_ChuyenBay]  WITH CHECK ADD FOREIGN KEY([maGhe])
REFERENCES [dbo].[Ghe] ([maGhe])
GO
ALTER TABLE [dbo].[Ghe_ChuyenBay]  WITH CHECK ADD FOREIGN KEY([maGhe])
REFERENCES [dbo].[Ghe] ([maGhe])
GO
ALTER TABLE [dbo].[Ghe_ChuyenBay]  WITH CHECK ADD FOREIGN KEY([maGhe])
REFERENCES [dbo].[Ghe] ([maGhe])
GO
ALTER TABLE [dbo].[Ghe_ChuyenBay]  WITH CHECK ADD FOREIGN KEY([maCB])
REFERENCES [dbo].[ChuyenBay] ([maCB])
GO
ALTER TABLE [dbo].[Ghe_ChuyenBay]  WITH CHECK ADD FOREIGN KEY([maCB])
REFERENCES [dbo].[ChuyenBay] ([maCB])
GO
ALTER TABLE [dbo].[Ghe_ChuyenBay]  WITH CHECK ADD FOREIGN KEY([maCB])
REFERENCES [dbo].[ChuyenBay] ([maCB])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maND])
REFERENCES [dbo].[NguoiDung] ([maND])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maND])
REFERENCES [dbo].[NguoiDung] ([maND])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maND])
REFERENCES [dbo].[NguoiDung] ([maND])
GO
ALTER TABLE [dbo].[MayBay]  WITH CHECK ADD FOREIGN KEY([maLoaiMB])
REFERENCES [dbo].[LoaiMayBay] ([maLoaiMB])
GO
ALTER TABLE [dbo].[MayBay]  WITH CHECK ADD FOREIGN KEY([maLoaiMB])
REFERENCES [dbo].[LoaiMayBay] ([maLoaiMB])
GO
ALTER TABLE [dbo].[MayBay]  WITH CHECK ADD FOREIGN KEY([maLoaiMB])
REFERENCES [dbo].[LoaiMayBay] ([maLoaiMB])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_ChucNang] FOREIGN KEY([ChucNangId])
REFERENCES [dbo].[ChucNang] ([id])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_ChucNang]
GO
ALTER TABLE [dbo].[SanBayTrungGian]  WITH CHECK ADD FOREIGN KEY([maSB])
REFERENCES [dbo].[SanBay] ([maSB])
GO
ALTER TABLE [dbo].[SanBayTrungGian]  WITH CHECK ADD FOREIGN KEY([maSB])
REFERENCES [dbo].[SanBay] ([maSB])
GO
ALTER TABLE [dbo].[SanBayTrungGian]  WITH CHECK ADD FOREIGN KEY([maSB])
REFERENCES [dbo].[SanBay] ([maSB])
GO
ALTER TABLE [dbo].[SanBayTrungGian]  WITH CHECK ADD FOREIGN KEY([maTB])
REFERENCES [dbo].[TuyenBay] ([maTB])
GO
ALTER TABLE [dbo].[SanBayTrungGian]  WITH CHECK ADD FOREIGN KEY([maTB])
REFERENCES [dbo].[TuyenBay] ([maTB])
GO
ALTER TABLE [dbo].[SanBayTrungGian]  WITH CHECK ADD FOREIGN KEY([maTB])
REFERENCES [dbo].[TuyenBay] ([maTB])
GO
ALTER TABLE [dbo].[TuyenBay]  WITH CHECK ADD FOREIGN KEY([sanBayDi])
REFERENCES [dbo].[SanBay] ([maSB])
GO
ALTER TABLE [dbo].[TuyenBay]  WITH CHECK ADD FOREIGN KEY([sanBayDen])
REFERENCES [dbo].[SanBay] ([maSB])
GO
ALTER TABLE [dbo].[TuyenBay]  WITH CHECK ADD FOREIGN KEY([sanBayDi])
REFERENCES [dbo].[SanBay] ([maSB])
GO
ALTER TABLE [dbo].[TuyenBay]  WITH CHECK ADD FOREIGN KEY([sanBayDen])
REFERENCES [dbo].[SanBay] ([maSB])
GO
ALTER TABLE [dbo].[TuyenBay]  WITH CHECK ADD FOREIGN KEY([sanBayDi])
REFERENCES [dbo].[SanBay] ([maSB])
GO
ALTER TABLE [dbo].[TuyenBay]  WITH CHECK ADD FOREIGN KEY([sanBayDen])
REFERENCES [dbo].[SanBay] ([maSB])
GO
ALTER TABLE [dbo].[VeChuyenBay]  WITH CHECK ADD FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[VeChuyenBay]  WITH CHECK ADD FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[VeChuyenBay]  WITH CHECK ADD FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[VeChuyenBay]  WITH CHECK ADD FOREIGN KEY([maGhe], [maCB])
REFERENCES [dbo].[Ghe_ChuyenBay] ([maGhe], [maCB])
GO
ALTER TABLE [dbo].[VeChuyenBay]  WITH CHECK ADD FOREIGN KEY([maGhe], [maCB])
REFERENCES [dbo].[Ghe_ChuyenBay] ([maGhe], [maCB])
GO
ALTER TABLE [dbo].[VeChuyenBay]  WITH CHECK ADD FOREIGN KEY([maGhe], [maCB])
REFERENCES [dbo].[Ghe_ChuyenBay] ([maGhe], [maCB])
GO
ALTER TABLE [dbo].[ChucNang]  WITH CHECK ADD  CONSTRAINT [CK_ChucNang_Enum] CHECK  (([id]=(3) OR [id]=(2) OR [id]=(1)))
GO
ALTER TABLE [dbo].[ChucNang] CHECK CONSTRAINT [CK_ChucNang_Enum]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNguoiDung]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_AddNguoiDung] @hoTenND nvarchar(255),
							@tenDangNhap varchar(255),
							@ChucNangId int, 
							@soDT varchar(20), 
							@matKhau varchar(255), 
							@linkAnh varchar(255),
							@mail varchar(100)
AS
BEGIN
    INSERT INTO NguoiDung (hoTenND, tenDangNhap, ChucNangId, soDT, matKhau, linkAnh, mail) 
    VALUES(@hoTenND, @tenDangNhap, @ChucNangId, @soDT, @matKhau, @linkAnh, @mail)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatHoaDon]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_CapNhatHoaDon] @maHD int,
							 @soLuongVe int,
							 @tongTien float
AS
BEGIN
   UPDATE HoaDon SET soLuongVe =@soLuongVe, tongTien=@tongTien WHERE maHD =@maHD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatMayBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhật máy bay
CREATE PROCEDURE [dbo].[sp_CapNhatMayBay]
    @maMB INT,
    @tenMB NVARCHAR(255),
    @slGheH1 INT,
    @slGhePT INT,
    @maLoaiMB INT
AS
BEGIN
    UPDATE MayBay 
    SET 
        tenMB = @tenMB,
        slGheH1 = @slGheH1,
        slGhePT = @slGhePT,
        maLoaiMB = @maLoaiMB
    WHERE maMB = @maMB;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatNguoiDung]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_CapNhatNguoiDung] @maND int,
								@hoTenND nvarchar(255),
								@tenDangNhap varchar(255),
								@ChucNangId int, 
								@soDT varchar(20), 
								@matKhau varchar(255), 
								@linkAnh varchar(255),
								@mail varchar(100)
AS
BEGIN
    UPDATE NguoiDung SET hoTenND =@hoTenND, tenDangNhap=@tenDangNhap, ChucNangId=@ChucNangId,
	soDT = @soDT, matKhau=@matKhau, linkAnh=@linkAnh, mail=@mail WHERE maND =@maND
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatQuyDinh]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*-----------QUY ĐỊNH-----------*/
--Cập nhật quy định
CREATE PROCEDURE [dbo].[sp_CapNhatQuyDinh]
    @maQD INT,
    @tenQD NVARCHAR(255),
    @noiDungQD NVARCHAR(MAX),
    @ngayCapNhat DATE
AS
BEGIN
    UPDATE QUYDINH
    SET tenQD = @tenQD,
        noidungQD = @noiDungQD,
        ngayCapNhat = @ngayCapNhat
    WHERE maQD = @maQD;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatSanBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhật sân bay
CREATE PROCEDURE [dbo].[sp_CapNhatSanBay]
    @maSB INT,
    @tenSB NVARCHAR(255),
    @tinhThanh NVARCHAR(255),
    @quocGia NVARCHAR(255)
AS
BEGIN
    UPDATE SanBay
    SET tenSB = @tenSB,
        tinhThanh = @tinhThanh,
        quocGia = @quocGia
    WHERE maSB = @maSB;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckForeignKey_MayBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Kiểm tra khóa ngoại ở Ghế khi xóa máy bay
CREATE PROCEDURE [dbo].[sp_CheckForeignKey_MayBay]
    @maMB INT
AS
BEGIN
    -- Kiểm tra xem có ghế nào liên kết với máy bay này không
    SELECT COUNT(*) FROM Ghe WHERE maMB = @maMB
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoiMatKhau]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DoiMatKhau] @matKhau varchar(255),
						  @tenDangNhap varchar(255)
AS
BEGIN
    UPDATE NguoiDung SET  matKhau=@matKhau WHERE tenDangNhap=@tenDangNhap
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmailByUsername]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetEmailByUsername] @tenDangNhap varchar(255)                  
AS
BEGIN
    SELECT mail FROM NguoiDung WHERE tenDangNhap = @tenDangNhap
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraKhoaNgoaiSanBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Kiểm tra khóa ngoại sân bay 
CREATE PROCEDURE [dbo].[sp_KiemTraKhoaNgoaiSanBay]
    @maSB INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        (SELECT COUNT(*) FROM TuyenBay WHERE sanBayDi = @maSB OR sanBayDen = @maSB) +
        (SELECT COUNT(*) FROM SanBayTrungGian WHERE maSB = @maSB) AS TongLienKet;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraTenDNTonTai]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KiemTraTenDNTonTai] @tenDangNhap varchar(255)
AS
BEGIN
    SELECT COUNT(*) FROM NguoiDung WHERE TenDangNhap = @TenDangNhap
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayDSHoaDon]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LayDSHoaDon] 
AS
BEGIN
   SELECT * FROM HoaDon
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayDSNguoiDungTheoChucNang]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LayDSNguoiDungTheoChucNang] @ChucNangId INT
AS
BEGIN
	IF @ChucNangId = 0
	BEGIN
		SELECT* FROM NguoiDung 
	END
	ELSE
	BEGIN
		SELECT * FROM NguoiDung WHERE ChucNangId = @ChucNangId
	END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayDSVeChuyenBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LayDSVeChuyenBay]
AS
BEGIN
    SELECT * FROM VeChuyenBay
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayDSVeCuaHD]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LayDSVeCuaHD] @maHD INT
AS
BEGIN
	SELECT v.maVe, v.tenHK,v.maCB, g.tenGhe, v.giaVe, hd.maHD,
			CASE 
				WHEN gcb.trangThai = 0 THEN N'Chưa sử dụng' 
				ELSE N'Đã sử dụng' 
			END AS trangThai
    FROM VeChuyenBay v,HoaDon hd , Ghe g, Ghe_ChuyenBay gcb
    WHERE hd.maHD = v.maHD 
		AND v.maGhe = g.maGhe 
		AND v.maCB =gcb.maCB AND v.maGhe = gcb.maGhe 
		AND hd.maHD = @maHD
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayNDQuaTenDN]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LayNDQuaTenDN] @tenDangNhap varchar(255)								
AS
BEGIN
    SELECT * FROM NguoiDung WHERE tenDangNhap = @tenDangNhap
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayNguoiDungQuaId]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LayNguoiDungQuaId] @id INT
AS
BEGIN
    SELECT * FROM NguoiDung WHERE maND = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LaySanBayDen]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LaySanBayDen] @maCB int
AS
BEGIN
    SELECT sb.tenSB AS sanBayDi  
	FROM ChuyenBay cb, TuyenBay tb, SanBay sb  
	WHERE cb.maTB=tb.maTB AND tb.sanBayDen =sb.maSB AND cb.maCB = @maCB
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LaySanBayDi]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LaySanBayDi] @maCB int
AS
BEGIN
    SELECT sb.tenSB AS sanBayDi  
	FROM ChuyenBay cb, TuyenBay tb, SanBay sb  
	WHERE cb.maTB=tb.maTB AND tb.sanBayDi =sb.maSB AND cb.maCB = @maCB
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LaySoLuongVeTheoNamThang]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LaySoLuongVeTheoNamThang] @thang INT, @nam INT
AS
BEGIN
	IF @thang IS NULL
	BEGIN
		SELECT COUNT(v.maVe) AS soLuongVe
		FROM VeChuyenBay v JOIN ChuyenBay cb ON v.maCB = cb.maCB
						   JOIN Ghe g ON v.maGhe = g.maGhe
		WHERE YEAR(cb.ngayGioDi) = @nam
		RETURN
	END
	SELECT COUNT(v.maVe) AS soLuongVe
	FROM VeChuyenBay v JOIN ChuyenBay cb ON v.maCB = cb.maCB
					   JOIN Ghe g ON v.maGhe = g.maGhe
	WHERE MONTH(cb.ngayGioDi) = @thang AND YEAR(cb.ngayGioDi) = @nam
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayThongTinHoaDon]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LayThongTinHoaDon] @maHD INT
AS
BEGIN
	SELECT maHD,ngayLapHD,soLuongVe,phuongThucTT, tongTien, hoTenND AS nguoiLapHD
	FROM HoaDon, NguoiDung 
	WHERE HoaDon.maND = NguoiDung.maND AND maHD = @maHD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayTongChuyenBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LayTongChuyenBay] @thang INT, @nam INT
AS
BEGIN
	IF @thang IS NULL
	BEGIN
		SELECT COUNT(maCB) AS soLuongChuyenBay 
		FROM ChuyenBay 
		WHERE tienTrinhID <> 4 AND YEAR(ngayGioDi) = @nam

		RETURN
	END
	SELECT COUNT(maCB) AS soLuongChuyenBay 
	FROM ChuyenBay 
	WHERE tienTrinhID <> 4 AND MONTH(ngayGioDi) = @thang AND YEAR(ngayGioDi) = @nam
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Login] @tenDangNhap varchar(255),
                     @matKhau varchar(255)
AS
BEGIN
    SELECT * FROM NguoiDung WHERE tenDangNhap = @tenDangNhap AND matKhau = @matKhau;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemMayBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-------MÁY BAY-------*/
--Thêm máy bay
CREATE PROCEDURE [dbo].[sp_ThemMayBay]
    @TenMB NVARCHAR(255),
    @slGheH1 INT,
    @slGhePT INT,
    @maLoaiMB INT
AS
BEGIN

    INSERT INTO MayBay (tenMB, slGheH1, slGhePT, maLoaiMB)
    VALUES (@TenMB, @slGheH1, @slGhePT, @maLoaiMB);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSanBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*--------SÂN BAY-------*/
--Thêm sân bay
CREATE PROC [dbo].[sp_ThemSanBay]
	@TenSanBay NVARCHAR(255),
	@TinhThanh NVARCHAR(255),
	@QuocGia NVARCHAR(255)
AS
BEGIN
	INSERT INTO SanBay(tenSB, tinhThanh, quocGia) Values (@TenSanBay, @TinhThanh, @QuocGia)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeTheoThangNam]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThongKeTheoThangNam] @thang INT, @nam INT
AS
BEGIN
	IF @thang IS NULL
	BEGIN
		SELECT tb.maTB, tb.tenTB, SUM(v.giaVe) AS doanhThu, COUNT(DISTINCT cb.maCB) AS soLuotBay
		FROM TuyenBay tb FULL JOIN ChuyenBay cb ON tb.maTB = cb.maTB
						 FULL JOIN Ghe_ChuyenBay gcb ON cb.maCB = gcb.maCB
						 FULL JOIN VeChuyenBay v ON gcb.maGhe = v.maGhe AND cb.maCB = v.maCB
						 FULL JOIN HoaDon hd ON v.maHD = hd.maHD   
		WHERE  cb.tienTrinhID <> 4 AND YEAR(cb.ngayGioDi) = @nam
		GROUP BY tb.maTB, tb.tenTB 
		ORDER BY doanhThu DESC

		RETURN
	END
	SELECT tb.maTB, tb.tenTB, SUM(v.giaVe) AS doanhThu, COUNT(DISTINCT cb.maCB) AS soLuotBay
	FROM TuyenBay tb FULL JOIN ChuyenBay cb ON tb.maTB = cb.maTB
					 FULL JOIN Ghe_ChuyenBay gcb ON cb.maCB = gcb.maCB
				     FULL JOIN VeChuyenBay v ON gcb.maGhe = v.maGhe AND cb.maCB = v.maCB
					 FULL JOIN HoaDon hd ON v.maHD = hd.maHD   
	WHERE cb.tienTrinhID <> 4 AND MONTH(cb.ngayGioDi) = @thang AND YEAR(cb.ngayGioDi) = @nam
	GROUP BY tb.maTB, tb.tenTB 
	ORDER BY doanhThu DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TraCuuThongTinVe]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TraCuuThongTinVe]
    @maVe INT
AS
BEGIN
    SELECT 
        ve.maVe,
        ve.tenHK,
        hd.maHD,
        hd.ngayLapHD,
        cb.maCB,
        cb.ngayGioDi,
        tb.tenTB,
        sbDi.tinhThanh + ' - ' + sbDen.tinhThanh AS tuyenBay,
        g.tenGhe,
        g.hangGhe,
        ve.giaVe,
        CASE 
            WHEN gcb.trangThai = 0 THEN N'Chưa sử dụng' 
            ELSE N'Đã sử dụng' 
        END AS trangThai
    FROM VeChuyenBay ve
    JOIN HoaDon hd ON ve.maHD = hd.maHD
    JOIN Ghe_ChuyenBay gcb ON ve.maGhe = gcb.maGhe
    JOIN Ghe g ON gcb.maGhe = g.maGhe
    JOIN ChuyenBay cb ON cb.maCB = gcb.maCB
    JOIN TuyenBay tb ON cb.maTB = tb.maTB
    JOIN SanBay sbDi ON tb.sanBayDi = sbDi.maSB
    JOIN SanBay sbDen ON tb.sanBayDen = sbDen.maSB
    WHERE ve.maVe = @maVe
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaHoaDon]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaHoaDon] @maHD int
AS
BEGIN
   DELETE FROM HoaDon WHERE maHD = @maHD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaMayBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa máy bay
CREATE PROCEDURE [dbo].[sp_XoaMayBay]
    @ID INT
AS
BEGIN
    DELETE FROM MayBay WHERE maMB = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaNguoiDung]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaNguoiDung] @maND int
AS
BEGIN
    DELETE FROM NguoiDung WHERE maND = @maND
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaSanBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa sân bay
CREATE PROCEDURE [dbo].[sp_XoaSanBay]
    @ID INT
AS
BEGIN
    DELETE FROM SanBay WHERE maSB = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaVeCuaChuyenBay]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaVeCuaChuyenBay] @maCB int
AS
BEGIN
    DELETE FROM VeChuyenBay 
	WHERE maVe IN (SELECT v.maVe  
				   FROM VeChuyenBay v, Ghe_ChuyenBay gcb 
				   WHERE v.maGhe = gcb.maGhe AND v.maCB = gcb.maCB AND gcb.maCB =@maCB)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaVeTheoMaVe]    Script Date: 5/23/2026 8:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaVeTheoMaVe] @maVe int
AS
BEGIN
    DELETE FROM VeChuyenBay WHERE maVe = @maVe
END
GO
USE [master]
GO
